In [1]:
from datamart import market

In [2]:
AAPL = market.equity.price.historical('AAPL', start_date='2024-01-01', end_date='2024-01-31', provider='yfinance')

In [3]:
AAPL.to_dataframe()

,open,high,low,close,volume,split_ratio,dividend
date,,,,,,,
2024-01-02,187.149994,188.440002,183.889999,185.639999,82488700,0.0,0.0
2024-01-03,184.220001,185.880005,183.429993,184.250000,58414500,0.0,0.0
2024-01-04,182.149994,183.089996,180.880005,181.910004,71983600,0.0,0.0
2024-01-05,181.990005,182.759995,180.169998,181.179993,62303300,0.0,0.0
2024-01-08,182.089996,185.600006,181.500000,185.559998,59144500,0.0,0.0
2024-01-09,183.919998,185.149994,182.729996,185.139999,42841800,0.0,0.0
2024-01-10,184.350006,186.399994,183.919998,186.190002,46792900,0.0,0.0
2024-01-11,186.539993,187.050003,183.619995,185.589996,49128400,0.0,0.0
2024-01-12,186.059998,186.740005,185.190002,185.919998,40444700,0.0,0.0
2024-01-16,182.160004,184.259995,180.929993,183.630005,65603000,0.0,0.0
2024-01-17,181.270004,182.929993,180.300003,182.679993,47317400,0.0,0.0
2024-01-18,186.089996,189.139999,185.830002,188.630005,78005800,0.0,0.0
2024-01-19,189.330002,191.949997,188.820007,191.559998,68741000,0.0,0.0
2024-01-22,192.300003,195.330002,192.259995,193.889999,60133900,0.0,0.0
2024-01-23,195.020004,195.750000,193.830002,195.179993,42355600,0.0,0.0
2024-01-24,195.419998,196.380005,194.339996,194.500000,53631300,0.0,0.0
2024-01-25,195.220001,196.270004,193.110001,194.169998,54822100,0.0,0.0
2024-01-26,194.270004,194.759995,191.940002,192.419998,44594000,0.0,0.0
2024-01-29,192.009995,192.199997,189.580002,191.729996,47145600,0.0,0.0
2024-01-30,190.940002,191.800003,187.470001,188.039993,55859400,0.0,0.0
2024-01-31,187.039993,187.100006,184.350006,184.399994,55467800,0.0,0.0
2024-02-01,183.990005,186.949997,183.820007,186.860001,64885400,0.0,0.0

In [4]:
AAPL

OBBject

id: 06611a6f-f905-7739-8000-9a52d3991b29
results: [{'date': datetime.date(2024, 1, 2), 'open': 187.14999389648438, 'high': 1...
provider: yfinance
warnings: None
chart: None
extra: {'metadata': {'arguments': {'provider_choices': {'provider': 'yfinance'}, 's...

In [5]:
from datamart_core.app.model.obbject import OBBject
import requests

url = "http://localhost:8001/api/v1/equity/price/historical?chart=false&provider=yfinance&symbol=AAPL&interval=1d&start_date=2024-01-01&end_date=2024-01-31&adjustment=splits_only&extended_hours=false&adjusted=false&use_cache=true&timezone=America%2FNew_York&source=realtime&sort=asc&limit=49999&include_actions=true&prepost=false"

res = requests.get(url)

In [6]:
AAPL_1 = OBBject.from_response(res)

In [7]:
AAPL_1.to_dataframe()

,close,dividend,high,low,open,split_ratio,volume
date,,,,,,,
2024-01-02,185.639999,0.0,188.440002,183.889999,187.149994,0.0,82488700.0
2024-01-03,184.250000,0.0,185.880005,183.429993,184.220001,0.0,58414500.0
2024-01-04,181.910004,0.0,183.089996,180.880005,182.149994,0.0,71983600.0
2024-01-05,181.179993,0.0,182.759995,180.169998,181.990005,0.0,62303300.0
2024-01-08,185.559998,0.0,185.600006,181.500000,182.089996,0.0,59144500.0
2024-01-09,185.139999,0.0,185.149994,182.729996,183.919998,0.0,42841800.0
2024-01-10,186.190002,0.0,186.399994,183.919998,184.350006,0.0,46792900.0
2024-01-11,185.589996,0.0,187.050003,183.619995,186.539993,0.0,49128400.0
2024-01-12,185.919998,0.0,186.740005,185.190002,186.059998,0.0,40444700.0
2024-01-16,183.630005,0.0,184.259995,180.929993,182.160004,0.0,65603000.0
2024-01-17,182.679993,0.0,182.929993,180.300003,181.270004,0.0,47317400.0
2024-01-18,188.630005,0.0,189.139999,185.830002,186.089996,0.0,78005800.0
2024-01-19,191.559998,0.0,191.949997,188.820007,189.330002,0.0,68741000.0
2024-01-22,193.889999,0.0,195.330002,192.259995,192.300003,0.0,60133900.0
2024-01-23,195.179993,0.0,195.750000,193.830002,195.020004,0.0,42355600.0
2024-01-24,194.500000,0.0,196.380005,194.339996,195.419998,0.0,53631300.0
2024-01-25,194.169998,0.0,196.270004,193.110001,195.220001,0.0,54822100.0
2024-01-26,192.419998,0.0,194.759995,191.940002,194.270004,0.0,44594000.0
2024-01-29,191.729996,0.0,192.199997,189.580002,192.009995,0.0,47145600.0
2024-01-30,188.039993,0.0,191.800003,187.470001,190.940002,0.0,55859400.0
2024-01-31,184.399994,0.0,187.100006,184.350006,187.039993,0.0,55467800.0
2024-02-01,186.860001,0.0,186.949997,183.820007,183.990005,0.0,64885400.0

In [8]:
AAPL_1 = OBBject(provider=res['provider'], results=res['results'], extra=res['extra'])

In [9]:
AAPL_1.to_dataframe()

,close,dividend,high,low,open,split_ratio,volume
date,,,,,,,
2024-01-02,185.639999,0.0,188.440002,183.889999,187.149994,0.0,82488700.0
2024-01-03,184.250000,0.0,185.880005,183.429993,184.220001,0.0,58414500.0
2024-01-04,181.910004,0.0,183.089996,180.880005,182.149994,0.0,71983600.0
2024-01-05,181.179993,0.0,182.759995,180.169998,181.990005,0.0,62303300.0
2024-01-08,185.559998,0.0,185.600006,181.500000,182.089996,0.0,59144500.0
2024-01-09,185.139999,0.0,185.149994,182.729996,183.919998,0.0,42841800.0
2024-01-10,186.190002,0.0,186.399994,183.919998,184.350006,0.0,46792900.0
2024-01-11,185.589996,0.0,187.050003,183.619995,186.539993,0.0,49128400.0
2024-01-12,185.919998,0.0,186.740005,185.190002,186.059998,0.0,40444700.0
2024-01-16,183.630005,0.0,184.259995,180.929993,182.160004,0.0,65603000.0
2024-01-17,182.679993,0.0,182.929993,180.300003,181.270004,0.0,47317400.0
2024-01-18,188.630005,0.0,189.139999,185.830002,186.089996,0.0,78005800.0
2024-01-19,191.559998,0.0,191.949997,188.820007,189.330002,0.0,68741000.0
2024-01-22,193.889999,0.0,195.330002,192.259995,192.300003,0.0,60133900.0
2024-01-23,195.179993,0.0,195.750000,193.830002,195.020004,0.0,42355600.0
2024-01-24,194.500000,0.0,196.380005,194.339996,195.419998,0.0,53631300.0
2024-01-25,194.169998,0.0,196.270004,193.110001,195.220001,0.0,54822100.0
2024-01-26,192.419998,0.0,194.759995,191.940002,194.270004,0.0,44594000.0
2024-01-29,191.729996,0.0,192.199997,189.580002,192.009995,0.0,47145600.0
2024-01-30,188.039993,0.0,191.800003,187.470001,190.940002,0.0,55859400.0
2024-01-31,184.399994,0.0,187.100006,184.350006,187.039993,0.0,55467800.0
2024-02-01,186.860001,0.0,186.949997,183.820007,183.990005,0.0,64885400.0

In [10]:
rrr = requests.get(url)
type(rrr)

requests.models.Response

In [11]:
rrr.status_code

200